In [1]:
import pandas as pd

### DataFrame vs Series
Dataframe is a bunch of Series. <br>
DataFrame = table <br>
Series = List / single column of DataFrame <br>

In [4]:
pd.DataFrame({"Yes": [10,12], "No": [32,10]})

   Yes  No
0   10  32
1   12  10

In [8]:
pd.DataFrame({"Person X": ["I like", "I Dont Like"], 
              "Person Y": ["OK", "BAD"]}, 
             index=["Product 1", "Product 2"])

              Person X Person Y
Product 1       I like       OK
Product 2  I Dont Like      BAD

In [9]:
pd.Series([88,12,35])

0    88
1    12
2    35
dtype: int64

In [10]:
pd.Series([30, 35, 40], 
          index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

### Indexing, Selecting & Assigning

In [11]:
csv_path = "./melb_data.csv"
data = pd.read_csv(csv_path)
data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [14]:
data.Price

0        1480000.0
1        1035000.0
2        1465000.0
3         850000.0
4        1600000.0
           ...
13575    1245000.0
13576    1031000.0
13577    1170000.0
13578    2500000.0
13579    1285000.0
Name: Price, Length: 13580, dtype: float64

In [15]:
data.Price[0]

1480000.0

 Select first row of data in a DataFrame <br>
 row first column second <br>
 opposite to native python

In [17]:
data.iloc[0]

Suburb                      Abbotsford
Address                   85 Turner St
Rooms                                2
Type                                 h
Price                        1480000.0
Method                               S
SellerG                         Biggin
Date                         3/12/2016
Distance                           2.5
Postcode                        3067.0
Bedroom2                           2.0
Bathroom                           1.0
Car                                1.0
Landsize                         202.0
BuildingArea                       NaN
YearBuilt                          NaN
CouncilArea                      Yarra
Lattitude                     -37.7996
Longtitude                    144.9984
Regionname       Northern Metropolitan
Propertycount                   4019.0
Name: 0, dtype: object

In [18]:
data.iloc[:, 0]

0           Abbotsford
1           Abbotsford
2           Abbotsford
3           Abbotsford
4           Abbotsford
             ...
13575    Wheelers Hill
13576     Williamstown
13577     Williamstown
13578     Williamstown
13579       Yarraville
Name: Suburb, Length: 13580, dtype: object

In [20]:
data.iloc[:, :2]

              Suburb           Address
0         Abbotsford      85 Turner St
1         Abbotsford   25 Bloomburg St
2         Abbotsford      5 Charles St
3         Abbotsford  40 Federation La
4         Abbotsford       55a Park St
...              ...               ...
13575  Wheelers Hill      12 Strada Cr
13576   Williamstown     77 Merrett Dr
13577   Williamstown       83 Power St
13578   Williamstown      96 Verdon St
13579     Yarraville        6 Agnes St

[13580 rows x 2 columns]

In [21]:
data.iloc[:, [2,5,6]]

       Rooms Method   SellerG
0          2      S    Biggin
1          2      S    Biggin
2          3     SP    Biggin
3          3     PI    Biggin
4          4     VB    Nelson
...      ...    ...       ...
13575      4      S     Barry
13576      3     SP  Williams
13577      3      S     Raine
13578      4     PI   Sweeney
13579      4     SP   Village

[13580 rows x 3 columns]

In [29]:
data.iloc[-2:]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

Label based selection <br>
Datas index value matters, not the position

In [30]:
data.loc[0, "Address"]

'85 Turner St'

In [37]:
data.set_index("Address")

,Suburb,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
Address,,,,,,,,,,,,,,,,,,,,
85 Turner St,Abbotsford,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
25 Bloomburg St,Abbotsford,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
5 Charles St,Abbotsford,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
40 Federation La,Abbotsford,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
55a Park St,Abbotsford,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12 Strada Cr,Wheelers Hill,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,4.0,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
77 Merrett Dr,Williamstown,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,3.0,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
83 Power St,Williamstown,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,3.0,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
96 Verdon St,Williamstown,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,4.0,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
6 Agnes St,Yarraville,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,4.0,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

In [40]:
data.Rooms == 4

0        False
1        False
2        False
3        False
4         True
         ...
13575     True
13576    False
13577    False
13578     True
13579     True
Name: Rooms, Length: 13580, dtype: bool

In [43]:
data.loc[data.Rooms == 7]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
589,Balwyn North,30 Abbott St,7,h,1350000.0,PI,Barry,3/12/2016,9.2,3104.0,...,2.0,0.0,942.0,NaN,NaN,Boroondara,-37.79230,145.10290,Southern Metropolitan,7809.0
636,Balwyn North,2 Tudor Ct,7,h,2600000.0,PI,Barry,14/05/2016,9.2,3104.0,...,3.0,3.0,637.0,529.00,2008.0,Boroondara,-37.78980,145.09670,Southern Metropolitan,7809.0
707,Bentleigh,143 Patterson Rd,7,h,1005000.0,S,Ray,4/06/2016,13.0,3204.0,...,3.0,4.0,607.0,NaN,1950.0,Glen Eira,-37.92690,145.04700,Southern Metropolitan,6795.0
1417,Brunswick West,2 Henderson St,7,h,1205000.0,S,Raine,15/10/2016,5.9,3055.0,...,3.0,1.0,447.0,287.00,1982.0,Moreland,-37.76340,144.94030,Northern Metropolitan,7082.0
6881,Essendon West,6 Sapphire St,7,h,1300000.0,PI,Nelson,19/11/2016,9.8,3040.0,...,2.0,2.0,614.0,316.00,1970.0,Moonee Valley,-37.75000,144.88580,Western Metropolitan,588.0
8793,Donvale,1 Bernarra Ct,7,h,2705000.0,S,Ray,1/07/2017,16.1,3111.0,...,2.0,4.0,5022.0,409.54,2004.0,Manningham,-37.76598,145.19329,Eastern Metropolitan,4790.0
10177,Burwood,11 McComas Gr,7,h,1642000.0,S,Buxton,27/05/2017,10.4,3125.0,...,4.0,2.0,765.0,146.00,1950.0,Whitehorse,-37.85103,145.11232,Southern Metropolitan,5678.0
11092,Kew,43 Rowland St,7,h,4050000.0,S,Marshall,12/08/2017,5.4,3101.0,...,4.0,2.0,725.0,NaN,NaN,Boroondara,-37.81185,145.05387,Southern Metropolitan,10331.0
11207,Strathmore,78 Bulla Rd,7,h,2000000.0,SP,Nelson,12/08/2017,8.2,3041.0,...,3.0,4.0,608.0,355.00,1999.0,Moonee Valley,-37.73681,144.90587,Western Metropolitan,3284.0
12129,Preston,47 Cooper St,7,h,1350000.0,SP,RW,29/07/2017,8.4,3072.0,...,3.0,4.0,530.0,NaN,NaN,Darebin,-37.73526,144.99508,Northern Metropolitan,14577.0

In [44]:
data.loc[(data.Rooms == 7) & (data.Distance > 10)]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
707,Bentleigh,143 Patterson Rd,7,h,1005000.0,S,Ray,4/06/2016,13.0,3204.0,...,3.0,4.0,607.0,NaN,1950.0,Glen Eira,-37.92690,145.04700,Southern Metropolitan,6795.0
8793,Donvale,1 Bernarra Ct,7,h,2705000.0,S,Ray,1/07/2017,16.1,3111.0,...,2.0,4.0,5022.0,409.54,2004.0,Manningham,-37.76598,145.19329,Eastern Metropolitan,4790.0
10177,Burwood,11 McComas Gr,7,h,1642000.0,S,Buxton,27/05/2017,10.4,3125.0,...,4.0,2.0,765.0,146.00,1950.0,Whitehorse,-37.85103,145.11232,Southern Metropolitan,5678.0

In [45]:
data.loc[(data.Rooms == 7) | (data.Distance > 10)]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
38,Airport West,154 Halsey Rd,3,t,840000.0,PI,Nelson,3/09/2016,13.5,3042.0,...,2.0,1.0,303.0,225.0,2016.0,Moonee Valley,-37.71800,144.87800,Western Metropolitan,3464.0
39,Airport West,50 Bedford St,3,h,730000.0,VB,Nelson,3/12/2016,13.5,3042.0,...,2.0,1.0,0.0,145.0,1965.0,Moonee Valley,-37.72030,144.87550,Western Metropolitan,3464.0
40,Airport West,50 Bedford St,3,h,770000.0,SP,Nelson,4/03/2017,13.5,3042.0,...,2.0,1.0,0.0,145.0,1965.0,Moonee Valley,-37.72030,144.87550,Western Metropolitan,3464.0
41,Airport West,23 Hart St,2,h,603000.0,S,Nelson,4/03/2017,13.5,3042.0,...,1.0,1.0,272.0,84.0,1950.0,Moonee Valley,-37.72940,144.88800,Western Metropolitan,3464.0
42,Airport West,1/80 Hawker St,3,t,700000.0,S,Brad,4/03/2017,13.5,3042.0,...,2.0,2.0,239.0,134.0,2009.0,Moonee Valley,-37.72180,144.88370,Western Metropolitan,3464.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13571,Wantirna South,15 Mara Cl,4,h,1330000.0,S,Barry,26/08/2017,14.7,3152.0,...,2.0,2.0,717.0,191.0,1980.0,NaN,-37.86887,145.22116,Eastern Metropolitan,7082.0
13572,Watsonia,76 Kenmare St,2,h,650000.0,PI,Morrison,26/08/2017,14.5,3087.0,...,1.0,1.0,210.0,79.0,2006.0,NaN,-37.70657,145.07878,Northern Metropolitan,2329.0
13573,Werribee,5 Nuragi Ct,4,h,635000.0,S,hockingstuart,26/08/2017,14.7,3030.0,...,2.0,1.0,662.0,172.0,1980.0,NaN,-37.89327,144.64789,Western Metropolitan,16166.0
13574,Westmeadows,9 Black St,3,h,582000.0,S,Red,26/08/2017,16.5,3049.0,...,2.0,2.0,256.0,NaN,NaN,NaN,-37.67917,144.89390,Northern Metropolitan,2474.0
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0

In [46]:
data.loc[data.Rooms.isin([7,8])]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
379,Ashburton,115 Ashburn Gr,8,h,2950000.0,S,hockingstuart,10/09/2016,11.0,3147.0,...,7.0,4.0,1472.0,618.00,2009.0,Boroondara,-37.87290,145.07880,Southern Metropolitan,3052.0
589,Balwyn North,30 Abbott St,7,h,1350000.0,PI,Barry,3/12/2016,9.2,3104.0,...,2.0,0.0,942.0,NaN,NaN,Boroondara,-37.79230,145.10290,Southern Metropolitan,7809.0
636,Balwyn North,2 Tudor Ct,7,h,2600000.0,PI,Barry,14/05/2016,9.2,3104.0,...,3.0,3.0,637.0,529.00,2008.0,Boroondara,-37.78980,145.09670,Southern Metropolitan,7809.0
707,Bentleigh,143 Patterson Rd,7,h,1005000.0,S,Ray,4/06/2016,13.0,3204.0,...,3.0,4.0,607.0,NaN,1950.0,Glen Eira,-37.92690,145.04700,Southern Metropolitan,6795.0
1417,Brunswick West,2 Henderson St,7,h,1205000.0,S,Raine,15/10/2016,5.9,3055.0,...,3.0,1.0,447.0,287.00,1982.0,Moreland,-37.76340,144.94030,Northern Metropolitan,7082.0
1926,Coburg,35 The Grove,8,u,2250000.0,PI,Peter,4/03/2017,7.8,3058.0,...,2.0,4.0,983.0,NaN,NaN,Moreland,-37.75170,144.96990,Northern Metropolitan,11204.0
3255,Heidelberg Heights,478 Waterdale Rd,8,h,770000.0,VB,Miles,19/11/2016,10.5,3081.0,...,4.0,4.0,638.0,115.00,1960.0,Banyule,-37.74260,145.04800,Eastern Metropolitan,2947.0
4285,Newport,487 Melbourne Rd,8,h,881000.0,S,Jas,30/07/2016,8.4,3015.0,...,2.0,4.0,663.0,190.00,1920.0,Hobsons Bay,-37.83850,144.88240,Western Metropolitan,5498.0
6201,Templestowe Lower,40 Ironbark Dr,8,h,1150000.0,PI,Barry,4/06/2016,13.8,3107.0,...,4.0,3.0,668.0,NaN,NaN,Manningham,-37.77330,145.11980,Eastern Metropolitan,5420.0
6881,Essendon West,6 Sapphire St,7,h,1300000.0,PI,Nelson,19/11/2016,9.8,3040.0,...,2.0,2.0,614.0,316.00,1970.0,Moonee Valley,-37.75000,144.88580,Western Metropolitan,588.0
7581,Brighton East,22 Milliara Gr,8,h,1880000.0,VB,Buxton,13/05/2017,10.7,3187.0,...,3.0,3.0,614.0,NaN,NaN,Bayside,-37.90970,145.01610,Southern Metropolitan,6938.0
8793,Donvale,1 Bernarra Ct,7,h,2705000.0,S,Ray,1/07/2017,16.1,3111.0,...,2.0,4.0,5022.0,409.54,2004.0,Manningham,-37.76598,145.19329,Eastern Metropolitan,4790.0
10177,Burwood,11 McComas Gr,7,h,1642000.0,S,Buxton,27/05/2017,10.4,3125.0,...,4.0,2.0,765.0,146.00,1950.0,Whitehorse,-37.85103,145.11232,Southern Metropolitan,5678.0
10611,Camberwell,1088 Toorak Rd,8,h,2200000.0,PI,Ross,8/07/2017,7.7,3124.0,...,8.0,4.0,650.0,NaN,NaN,Boroondara,-37.84812,145.07414,Southern Metropolitan,8920.0
11092,Kew,43 Rowland St,7,h,4050000.0,S,Marshall,12/08/2017,5.4,3101.0,...,4.0,2.0,725.0,NaN,NaN,Boroondara,-37.81185,145.05387,Southern Metropolitan,10331.0
11207,Strathmore,78 Bulla Rd,7,h,2000000.0,SP,Nelson,12/08/2017,8.2,3041.0,...,3.0,4.0,608.0,355.00,1999.0,Moonee Valley,-37.73681,144.90587,Western Metropolitan,3284.0
12129,Preston,47 Cooper St,7,h,1350000.0,SP,RW,29/07/2017,8.4,3072.0,...,3.0,4.0,530.0,NaN,NaN,Darebin,-37.73526,144.99508,Northern Metropolitan,14577.0
13226,Meadow Heights,13 Haddon Ct,8,h,741000.0,S,Barry,23/09/2017,17.4,3048.0,...,3.0,1.0,1063.0,101.00,1980.0,NaN,-37.65826,144.92538,Northern Metropolitan,4704.0

In [56]:
data.loc[data.YearBuilt.isnull()]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
5,Abbotsford,129 Charles St,2,h,941000.0,S,Jellis,7/05/2016,2.5,3067.0,...,1.0,0.0,181.0,NaN,NaN,Yarra,-37.80410,144.99530,Northern Metropolitan,4019.0
8,Abbotsford,6/241 Nicholson St,1,u,300000.0,S,Biggin,8/10/2016,2.5,3067.0,...,1.0,1.0,0.0,NaN,NaN,Yarra,-37.80080,144.99730,Northern Metropolitan,4019.0
10,Abbotsford,411/8 Grosvenor St,2,u,700000.0,VB,Jellis,12/11/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra,-37.81100,145.00670,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13566,Vermont South,9 Winswood Cl,4,h,1250000.0,PI,Philip,26/08/2017,17.2,3133.0,...,2.0,2.0,986.0,NaN,NaN,NaN,-37.84679,145.20051,Eastern Metropolitan,4280.0
13567,Viewbank,149 Graham Rd,5,h,1316000.0,SP,Nelson,26/08/2017,8.9,3084.0,...,3.0,3.0,696.0,NaN,NaN,NaN,-37.73501,145.08341,Eastern Metropolitan,2698.0
13569,Wantirna South,12 Armagh Cr,4,h,1323000.0,S,Barry,26/08/2017,14.7,3152.0,...,2.0,2.0,551.0,NaN,NaN,NaN,-37.87608,145.22390,Eastern Metropolitan,7082.0
13570,Wantirna South,34 Fewster Dr,3,h,970000.0,S,Barry,26/08/2017,14.7,3152.0,...,2.0,2.0,674.0,NaN,NaN,NaN,-37.88360,145.22805,Eastern Metropolitan,7082.0
13574,Westmeadows,9 Black St,3,h,582000.0,S,Red,26/08/2017,16.5,3049.0,...,2.0,2.0,256.0,NaN,NaN,NaN,-37.67917,144.89390,Northern Metropolitan,2474.0

In [59]:
data.Suburb = "Test"
data

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Test,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Test,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Test,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Test,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Test,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Test,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Test,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Test,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Test,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Test,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

### Summary Functions and Maps